[submodule "hisab-kitab"]
	path = hisab-kitab
	url = https://github.com/harsh-lamba/hisab-kitab.git
[submodule "progressTracker"]
	path = progressTracker
	url = https://github.com/harsh-lamba/progressTracker.git
[submodule "dynamicStyleSheet"]
	path = dynamicStyleSheet
	url = https://github.com/harsh-lamba/dynamicStyleSheet.git
[submodule "element"]
	path = element
	url = https://github.com/harsh-lamba/element.git
[submodule "prototype/reactD3"]
	path = prototype/reactD3
	url = https://github.com/harsh-lamba/reactD3.git
