[submodule "hisab-kitab"]
	path = hisab-kitab
	url = https://github.com/harsh-lamba/hisab-kitab.git
[submodule "progressTracker"]
	path = progressTracker
	url = https://github.com/harsh-lamba/progressTracker.git
[submodule "dynamicStyleSheet"]
	path = dynamicStyleSheet
	url = https://github.com/harsh-lamba/dynamicStyleSheet.git
[submodule "element"]
	path = element
	url = https://github.com/harsh-lamba/element.git
[submodule "prototype/alleVestigingen"]
	path = prototype/alleVestigingen
	url = https://github.com/harsh-lamba/alleVestigingen.git
[submodule "crud"]
	path = crud
	url = https://github.com/harsh-lamba/startup.git
