[submodule "hisab-kitab"]
	path = hisab-kitab
	url = https://github.com/harsh-lamba/hisab-kitab.git
[submodule "progressTracker"]
	path = progressTracker
	url = https://github.com/harsh-lamba/progressTracker.git
