<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Post Job</title>
		<script src="js/modernizr.js"></script>
		<!--[if (gt IE 8) | (IEMobile)]><!-->
	    <link rel="stylesheet" href="css/step4.css">
	    <!--<![endif]-->
	    <!--[if (lt IE 9) & (!IEMobile)]>
	    <link rel="stylesheet" href="css/ie.css">
	    <![endif]-->
	    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>
	    <link href="/css/appFonts.css" rel="stylesheet"/>
	    <link href="/css/font-awesome.css" rel="stylesheet"/>
	    <link href="/css/site.css" rel="stylesheet"/>
	    <link href="/css/siteResponsive.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="outer-wrap">
			<div id="inner-wrap">
				<section class="navbar-default navbar">
					<div class="header-menu-wrap">
						<header id="top" role="banner" class="navbar-header">
				            <!-- LOgo Container start here -->
			                <div id="divLogo">
			                	<a href="/Account/Home"><img class="img-responsive" src="/img/logo.png" alt="logo" role="img"/></a>
			                </div>
				            <!-- LOgo Container start here -->
			            	<div class="flag-font-wrap">
			                    <span id="change-size" role="menu">
			                        <a href="javascript:void(0)" role="menuitem" alt="Increase font size">A+</a>
			                    </span>
			                    <ul class="navbar-right flag">
			                        <li class="pull-right">
			                            <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><img src="/img/flag_en-US.png" alt="change language"><b class="caret"></b></a>
			                            <ul class="dropdown-menu header-right-dropdown" data-ng-init="addActive2 = 'make-it-white'">
			                                <li role="presentation" onclick="changeCurrentCulture('nl-NL')">
			                                    <a role="menuitem" href="#nl-NL" id="tab-header-1"><img src="/img/flag_nl-Nl.png" alt="Netherland">&nbsp;Netherland</a>
			                                </li>
			                                <li role="presentation" onclick="changeCurrentCulture('en-US')">
			                                    <a role="menuitem" href="#en-US" id="tab-header-1"><img src="/img/flag_en-US.png" alt="English(US)">&nbsp;English(US)</a>
			                                </li>
			                                <li role="presentation" onclick="changeCurrentCulture('de-DE')">
			                                    <a role="menuitem" href="#de-DE" id="tab-header-1"><img src="/img/flag_de-DE.png" alt="German">&nbsp;German</a>
			                                </li>
			                            </ul>
			                        </li>
			                    </ul>
			                </div>
				            <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
					    </header>
					    <nav id="nav" role="navigation">
					        <div class="block">
					            <h2 class="block-title">Chapters</h2>
					            <div style="float:left">
						            <!-- Multi-login dropdown start here -->
						            <div class="multi-login dropdown navbar-right" id="username">
						            	<a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown">Harsh Lamba
					                    	<b class="caret"></b>
					                	</a>
					                	<ul class="dropdown-menu header-right-dropdown orgMenu">
						                    <li role="presentation"> 
						                        <a role="menuitem" href="/Account/ChangeCurrentUserProfile?profileName=Harsh Lamba" class="">
						                          <img src="/img/VV_Icon_VolunteerOpportunities.png" width="28" height="28">
						                            Harsh Lamba
						                        </a>
						                    </li>
						                    <li role="presentation" class="divider"></li>
						                    <li role="presentation" id="separate-highlight">
						                        <span><a role="menuitem"  href="/Profile/MyProfile">Harsh Lamba</a></span>
						                        <span><a role="menuitem"  href="/Account/LogOff">Logout</a></span>
						                    </li>
					                  	</ul>
						            </div>
						            <!-- Multi-login dropdown end here -->

						            <ul class="nav navbar-nav navbar-right hidden">
						                <li class='pull-right question-chat' ng-init="changeImage = fal3e">
						                    <a href="#" class="dropdown-toggle" ng-mouseover="changeImage = true" ng-mouseout="changeImage = false" data-toggle="dropdown">
						                        <img ng-if="!changeImage" src="/img/question-chat2.png">
						                    </a>
						                    <ul class="dropdown-menu header-right-dropdown hidden">
						                        <li role="presentation">
						                            <a role="menuitem" target="_tab" href="/SiteInformation/PlatformFeedback">&nbsp;<i class='fa fa-comments'></i> &nbsp;Give platform feedback</a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation">
						                            <a role="menuitem" target="_tab" href="/SiteInformation/CustomerService">&nbsp;<i class='fa fa-headphones'></i> &nbsp;Customer service</a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation">
						                            <a role="menuitem" target="_tab" href="/SiteInformation/CommunityNForms">&nbsp;<i class='fa fa-file-text'></i> &nbsp;Community and forms</a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation">
						                            <a role="menuitem" target="_tab" href="/SiteInformation/AboutUs">&nbsp;<img src="/img/VV_Icon_Profile.png" width="16" height="16"> &nbsp;New to vrijwilligersvacture.nl</a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation">
						                            <a role="menuitem" target="_tab" href="/SiteInformation/ContactUs">&nbsp;&nbsp;<i class='fa fa-phone'></i> &nbsp;Call us +31 85 888 6757</a>
						                        </li>
						                    </ul>
						                </li>
						                <li class='pull-right'>
						                    <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
						                    <ul class="dropdown-menu header-right-dropdown hidden">
						                        <li role="presentation" class="">
						                          <a role="menuitem" data-navigationcode="MyAccount" href="/Account/NavigateUser?Code=MyAccount">
						                            <i class='fa fa-wrench'></i>
						                            My Account
						                          </a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation" class="">
						                          <a role="menuitem" data-navigationcode="ChangePassword" href="/Account/NavigateUser?Code=ChangePassword">
						                            <i class='fa fa-cog'></i>
						                            Change Password
						                          </a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation" class="">
						                          <a role="menuitem" data-navigationcode="NotificationSettings" href="/Account/NavigateUser?Code=NotificationSettings">
						                            <i class='fa fa-bell'></i>
						                            Notification Settings
						                          </a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation" class="">
						                          <a role="menuitem" data-navigationcode="PublishToSocialMedia" href="/Account/NavigateUser?Code=PublishToSocialMedia"><i class='fa fa-share-alt'></i>
						                            Publish to Social Media
						                          </a>
						                        </li>
						                        <li role="presentation" class="divider"></li>
						                        <li role="presentation" class="">
						                          <a role="menuitem" data-navigationcode="CreateOrganization" href="/Account/NavigateUser?Code=CreateOrganization">
						                            <img src='/img/VV_Icon_OrganizationLogo.png'  width='17px' height='17px'>
						                            Create an Organization
						                          </a>
						                        </li>
						                    </ul>
						                </li>
						                <li class='pull-right' ><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
						                <li class="dropdown pull-right" style="margin-top:5px;" id="username">
						                	<a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown">Harsh Lamba
						                    	<b class="caret"></b>
						                	</a>
						                	<ul class="dropdown-menu header-right-dropdown orgMenu">
							                    <li role="presentation"> 
							                        <a role="menuitem" href="/Account/ChangeCurrentUserProfile?profileName=Harsh Lamba" class="">
							                          <img src="/img/VV_Icon_VolunteerOpportunities.png" width="28" height="28">
							                            Harsh Lamba
							                        </a>
							                    </li>
							                    <li role="presentation" class="divider"></li>
							                    <li role="presentation" id="separate-highlight">
							                        <span><a role="menuitem"  href="/Profile/MyProfile">Harsh Lamba</a></span>
							                        <span><a role="menuitem"  href="/Account/LogOff">Logout</a></span>
							                    </li>
						                  	</ul>
						                </li>
						              </ul>
						            <!-- Navigation start -->
						            <ul class="nav navbar-nav">
						                <li class="active dropdown">
						                    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
						                    	<span class="iconmoon-search"></span>
			                					Search
			                					<span class="caret"></span>
			              					</a>
						                    <ul class="dropdown-menu expanded" role="menu" aria-labelledby="drop1">
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="iconmoon-searchJob"></span>Search Job</a></li>
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="iconmoon-searchVolunteer"></span>Search Volunteer</a></li>
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="iconmoon-searchOrganization"></span>Search Organization</a></li>
								            </ul>
						                </li>
						                <li>
						                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
						                    	<span class="iconmoon-recruitment"></span>
						                    	Recruitment
						                    	<span class="caret"></span>
						                    </a>
						                    <ul class="dropdown-menu expanded" role="menu" aria-labelledby="drop1">
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
								                	<span class="iconmoon-jobPosting"></span>
								                	Job Posting</a></li>
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
								                	<span class="iconmoon-jobPosting"></span>
								                	Post a Job</a></li>
								            </ul>
						                </li>
						                <li>
						                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
						                    	Profile
						                    	<span class="caret"></span>
						                    </a>
						                    <ul class="dropdown-menu expanded" role="menu" aria-labelledby="drop1">
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Job Applications</a></li>
								            </ul>
						                </li>
						                <li>
						                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
						                    	Reports
						                    	<span class="caret"></span>
						                    </a>
						                    <ul class="dropdown-menu expanded" role="menu" aria-labelledby="drop1">
								                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Timesheet</a></li>
								            </ul>
						                </li>
						                <li>
						                    <a href="#">Messages</a>
						                </li>
						            </ul>
						            <!-- Navigation end -->
						        </div>
					            <ul class="nav navbar-nav navbar-right">
					            	<li class='pull-right question-chat' ng-init="changeImage = fal3e">
					                    <a href="#" class="dropdown-toggle" ng-mouseover="changeImage = true" ng-mouseout="changeImage = false" data-toggle="dropdown">
					                        <img ng-if="!changeImage" src="/img/question-chat2.png">
					                    </a>
					                    <ul class="dropdown-menu header-right-dropdown">
					                        <li role="presentation">
					                            <a role="menuitem" target="_tab" href="/SiteInformation/PlatformFeedback">&nbsp;<i class='fa fa-comments'></i> &nbsp;Give platform feedback</a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation">
					                            <a role="menuitem" target="_tab" href="/SiteInformation/CustomerService">&nbsp;<i class='fa fa-headphones'></i> &nbsp;Customer service</a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation">
					                            <a role="menuitem" target="_tab" href="/SiteInformation/CommunityNForms">&nbsp;<i class='fa fa-file-text'></i> &nbsp;Community and forms</a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation">
					                            <a role="menuitem" target="_tab" href="/SiteInformation/AboutUs">&nbsp;<img src="/img/VV_Icon_Profile.png" width="16" height="16"> &nbsp;New to vrijwilligersvacture.nl</a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation">
					                            <a role="menuitem" target="_tab" href="/SiteInformation/ContactUs">&nbsp;&nbsp;<i class='fa fa-phone'></i> &nbsp;Call us +31 85 888 6757</a>
					                        </li>
					                    </ul>
					                </li>
					                <li class='pull-right'>
					                    <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
					                    <ul class="dropdown-menu header-right-dropdown hidden">
					                        <li role="presentation" class="">
					                          <a role="menuitem" data-navigationcode="MyAccount" href="/Account/NavigateUser?Code=MyAccount">
					                            <i class='fa fa-wrench'></i>
					                            My Account
					                          </a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation" class="">
					                          <a role="menuitem" data-navigationcode="ChangePassword" href="/Account/NavigateUser?Code=ChangePassword">
					                            <i class='fa fa-cog'></i>
					                            Change Password
					                          </a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation" class="">
					                          <a role="menuitem" data-navigationcode="NotificationSettings" href="/Account/NavigateUser?Code=NotificationSettings">
					                            <i class='fa fa-bell'></i>
					                            Notification Settings
					                          </a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation" class="">
					                          <a role="menuitem" data-navigationcode="PublishToSocialMedia" href="/Account/NavigateUser?Code=PublishToSocialMedia"><i class='fa fa-share-alt'></i>
					                            Publish to Social Media
					                          </a>
					                        </li>
					                        <li role="presentation" class="divider"></li>
					                        <li role="presentation" class="">
					                          <a role="menuitem" data-navigationcode="CreateOrganization" href="/Account/NavigateUser?Code=CreateOrganization">
					                            <img src='/img/VV_Icon_OrganizationLogo.png'  width='17px' height='17px'>
					                            Create an Organization
					                          </a>
					                        </li>
					                    </ul>
					                </li>
					                <li class='pull-right' ><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
					            </ul>
					            <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
					        </div>
					    </nav>
					</div>
				</section>
			</div>
			<!-- #innerWrap -->
		</div>
			<!-- #OuterWrap -->
		<script src="js/main.js"></script>
		<script src="/js/jquery-1.9.1.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>